OneCodeTeam/Call-WebService-to-interact-with-workflow-in-20147/[VB]-Call WebService to interact with workflow in Outlook (VBOutlookCallWCFWFService)/VB/VBOutlookCallWCFWFService/VBOutlookCallWCFInteractWithWF/Service References/ServiceReference1/LeaveService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LeaveService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:57258/LeaveService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:57258/LeaveService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:57258/LeaveService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DBOperate" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILeaveService_GetLeaveList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLeaveList" />
  </wsdl:message>
  <wsdl:message name="ILeaveService_GetLeaveList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLeaveListResponse" />
  </wsdl:message>
  <wsdl:message name="ILeaveService_CreateLeave_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateLeave" />
  </wsdl:message>
  <wsdl:message name="ILeaveService_CreateLeave_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateLeaveResponse" />
  </wsdl:message>
  <wsdl:message name="ILeaveService_AuditingLeave_InputMessage">
    <wsdl:part name="parameters" element="tns:AuditingLeave" />
  </wsdl:message>
  <wsdl:message name="ILeaveService_AuditingLeave_OutputMessage">
    <wsdl:part name="parameters" element="tns:AuditingLeaveResponse" />
  </wsdl:message>
  <wsdl:portType name="ILeaveService">
    <wsdl:operation name="GetLeaveList">
      <wsdl:input wsaw:Action="http://tempuri.org/ILeaveService/GetLeaveList" message="tns:ILeaveService_GetLeaveList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILeaveService/GetLeaveListResponse" message="tns:ILeaveService_GetLeaveList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateLeave">
      <wsdl:input wsaw:Action="http://tempuri.org/ILeaveService/CreateLeave" message="tns:ILeaveService_CreateLeave_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILeaveService/CreateLeaveResponse" message="tns:ILeaveService_CreateLeave_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AuditingLeave">
      <wsdl:input wsaw:Action="http://tempuri.org/ILeaveService/AuditingLeave" message="tns:ILeaveService_AuditingLeave_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILeaveService/AuditingLeaveResponse" message="tns:ILeaveService_AuditingLeave_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ILeaveService" type="tns:ILeaveService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetLeaveList">
      <soap:operation soapAction="http://tempuri.org/ILeaveService/GetLeaveList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateLeave">
      <soap:operation soapAction="http://tempuri.org/ILeaveService/CreateLeave" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AuditingLeave">
      <soap:operation soapAction="http://tempuri.org/ILeaveService/AuditingLeave" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LeaveService">
    <wsdl:port name="BasicHttpBinding_ILeaveService" binding="tns:BasicHttpBinding_ILeaveService">
      <soap:address location="http://localhost:57258/LeaveService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>