OneCodeTeam/send-and-receive-SMTP-Mail-within-Azure-worker-22832/[VB]-send and receive SMTP Mail within Azure worker role/VB/VBAzureSendMailsByWorkerRole/Client/Service References/WCFMailservice/metadata2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MailService.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MailService.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://127.0.0.1:3721/MailService/metadata?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.IO" />
  <xs:complexType name="MailModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Attachments" nillable="true" type="tns:ArrayOfFileAttachment" />
      <xs:element minOccurs="0" name="IsBodyHtml" type="xs:boolean" />
      <xs:element minOccurs="0" name="Port" type="xs:int" />
      <xs:element minOccurs="0" name="SourceAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SourceHost" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SourcePassword" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TargetAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MailModel" nillable="true" type="tns:MailModel" />
  <xs:complexType name="ArrayOfFileAttachment">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FileAttachment" nillable="true" type="tns:FileAttachment" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFileAttachment" nillable="true" type="tns:ArrayOfFileAttachment" />
  <xs:complexType name="FileAttachment">
    <xs:sequence>
      <xs:element minOccurs="0" name="FileContentByteArray" nillable="true" type="xs:base64Binary" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.IO" minOccurs="0" name="Info" nillable="true" type="q1:FileInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FileAttachment" nillable="true" type="tns:FileAttachment" />
</xs:schema>